@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1,h2,h3,h5,h6, span{
    color: rgb(56, 40, 15);
    text-align: center;
    line-height: 1.25;
}

h1{
    margin-bottom: 20px;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}
.flex{
    display: flex;
}

.flex1{
    flex: 1;
}

.row{
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 0 16px;
}

.text--color{
    color:rgb(119, 33, 33); ;
}

section:nth-child(even){
    background-color:rgb(226, 224, 224);
}

.container{
    padding: 50px 0;
}

.section__title{
    margin-bottom: 20px;
}

/*NAVIGATION BAR*/

nav{
    height: 100px;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list{
    display: flex;
}

.nav__link--anchor{
    margin: 0 18px;
    text-decoration: none;
    color: rgb(107, 29, 29);
    font-weight: 700;
}

.nav__link--anchor-primary{
    background-color: navajowhite;
    padding: 6px 17px;
    border-radius: 80%;
    border: 2px solid rgb(226, 196, 150);

}

.personal__logo{
    color:rgb(107, 29, 29);
    font-weight: 700;
    font-size: 20px;
}

.nav__link--anchor-primary:hover{
    background-color:beige;
    transition: all 350ms ease;
    
}



/*ABOUT ME*/
#about-me{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
 
.about-me__info{
    display: flex;
    flex-direction: column;
}

.about-me__info--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture{
    width: 100%;
    border-radius: 25%;

}

.about-me__picture--mask{
    width: 250px; 
    height: 250px;
    margin-bottom: 110px;
    margin-top: 10px;
}

.about-me__intro-text{
    margin-bottom: 20px;
}

.about-me__link{
    font-family: elephant;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.about-me__image--container{
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
}

/* TECH / LANG */
.language__img{
    width: 100%;
    max-width: 100px;
    transition: all 250ms;
}

.language__img:hover{
    filter: brightness(80%);
    opacity: 0.85;
    transform: scale(0.9);
}

.language{
    width: 33%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__img--wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 33px 22px;
}

.language__list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.langauge__name{
    position: absolute;
    bottom: 0;
    transform: scale(0);
    opacity: 0;
    transition: all 300ms;
    font-size: 20px;
    
}

.language:hover .langauge__name{ 
    transform: scale(1);
    opacity: 1;
}


/* PROJECT SECTION */

.project{
    margin-bottom: 135px;
}

.project__image{
    width: 100%;
    transition: all 500ms;
}

.project__wrapper{
    overflow: hidden;
    box-shadow: 0 20px 80px rgb(27, 27, 27);
    border-radius: 16px;
    display:flex ;
    position: relative;
}

.project__wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0%;
    transition: opacity 300ms ease;
    z-index: 2;
}

.project:hover .project__wrapper:before{
    opacity: 80%;
    
}

.project:hover .project__image{
    transform: scale(1.07);
    filter: blur(10%);
}


.project:hover .project__description{
    opacity: 1;
    transform: translateY(-50%);
}

.project:active .project__wrapper:before{
    opacity: 80%;
    
}

.project:active .project__image{
    transform: scale(1.07);
    filter: blur(10%);
}

.project:active .project__description{
    opacity: 1;
    transform: translateY(-50%);
}

.project__list{
    padding-top: 40px;
}

.project__description{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}



.project__description--title{
    text-align: left;
    color: aliceblue;
    font-size: 40px;
}

.project__description--subtitle{
    text-align: left;
    color: aliceblue;
}

.project__description--para{
    text-align: left;
    color: aliceblue; 
    margin: 16px 0;
}


.project__description--link{
    text-align: left;
    color: aliceblue;
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
}

/* FOOTER */

footer{
    background-color: #242424;
}

.footer__social--list{
    margin-bottom: 20px; 
    display:flex;   
    width: 100%;
    justify-content:space-around;

}

.footer__logo--image{
    width: 70px;
    height: 70px;
}

.footer__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
}

.footer__logo--popper{
    color:aliceblue;
    position:absolute;
    right:0;
    top: 30px;
    font-weight: 600;
    opacity: 0;
    transition: all 300ms ease;
}

.footer_copyright{
    color:aliceblue;
}

.footer__social--link{
    color:aliceblue;
}

.footer__anchor{
    position: relative;
    margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper{
    transform: translateX(60px);
    opacity: 1;
}

/* smaller screens */
@media (max-width: 786px) {
    nav{
        height: 68px;
    }
    h1{
        font-size: 28px;
    }
    .about-me__intro-text{
        font-size: 18px;
    }
    .project__description--para{
        font-size: 14px;
    }
    .project__description{
        left:30px;
        padding-right: 30px;
    }

}

@media (max-width: 480px) {
    .nav__link:not(:last-child){
        display: None;
    }

    .project__description--para{
        display: none;
    }
    
     .project__description--links{
         display: flex;
         justify-content: center;
     }

     .project__description--subtitle{
        text-align: center;
     }

    .project__description--title{
        text-align: center;
        font-size: 36px;
        text-align: center;
    }

    .project__description{
        padding: 0;
        left:0;
        width: 100%;
    }
}
